<br>
<div class="well col-sm-6 col-sm-offset-3">
  <h3> <%= @creature.name %> </h3>
  <p>
    <strong>Description:</strong> <%= @creature.description %>
  </p>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <%= link_to "Back", creatures_path %>
</div>
