<%= link_to "Create New Creature", new_creature_path %>
<% @creatures.each do |creature| %>
  <p>
    <strong>Name:</strong><%= creature.name %><br>
    <strong>Description:</strong> <%= creature.description %>
  </p>
<% end %>
