
<div class = "row">
  <h2><%= @creature.name %></h2>
</div>
<div class = "row">
  <p><em><%= @creature.description %></em></p>
</div>
<div class = "row">
  <button>edit</button><button>delete</button>
</div>
