<h2>Creature Feature</h2>

<div>
  <strong>Name:</strong> <%= @creature.name %><br>
  <strong>Description:</strong> <%= @creature.description %>
</div>

<%=button_to "Delete", @creature, method: :delete %>
