<h3><%= @creature.name %></h3>
<p><%=  @creature.description %></p>
<%= button_to "Back", creatures_path, method: :get, class: "btn btn-default" %>
<%= button_to "Edit", edit_creature_path, method: :get, class: "btn btn-primary" %>
