<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
      <li><a href="/creatures/new">Add Creature</a></li>
    </ul>
  </div>
</div>
</nav>

<h2>Creature Feature</h2>

<div>
  <%= image_tag @creature.image.url(:medium) %><br>
  <strong>Name:</strong> <%= @creature.name %><br>
  <strong>Description:</strong> <%= @creature.description %>
</div>

<%=button_to "Delete", @creature, method: :delete %>
