<h1><%= link_to "New creature", creatures_path %></h1>
<hr>

<div class="col-md-6 col-md-offset-3">
  <p>
    <strong>Name: </strong><%= @creature.name %>
    <br>
    <strong>Description: </strong> <%= @creature.description %>
  </p>
  <hr>

</div>
