<br>
<h3>BOG APP</h3>
<br>
<br>
<% @creatures.each do |creature| %>
  <p><strong>Name:</strong><br><%= creature.name %></p>
  <p><strong>Description:</strong><br><%= creature.description %></p>
  <br>
  <br>
<% end %>
