<br>
<h2>BOG APP</h2>
<br>
<br>
<%= link_to "Create New Creature", new_creature_path, class: "btn btn-info btn-block" %>
<br>
<br>
<% @creatures.each do |creature| %>
  <p><strong>Name:</strong><br><%= creature.name %></p>
  <p><strong>Description:</strong><br><%= creature.description %></p>
  <p><%= link_to "Creature Info", creature_path(creature), class: "btn btn-warning btn-lg" %></p>
  <br>
  <br>
  <br>
<% end %>
