<br>
<br>
<h2>BOG APP</h2>
<br>
<nav class="navbar navbar-light bg-faded">
  <div class="nav navbar-nav">
     <%= link_to "All Creatures", creatures_path, class: "nav-item nav-link btn btn-info" %>
     <%= link_to "Create a New Creature", new_creature_path, class: "nav-item nav-link btn btn-info" %>
  </div>
</nav>
